* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  color: #fff;
}
nav {
  position: fixed;
  z-index: 1;
  padding: 25px 60px;
}
nav img {
  width: 160px;
}
.form-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 430px;
  padding: 60px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.75);
  border-radius: 4px;
}
.form-wrapper h2 {
  color: #fff;
  font-size: 2rem;
}
.form-wrapper form {
  margin: 25px 0 65px;
}
form .input-box {
  position: relative;
  height: 50px;
  margin-bottom: 16px;
}
.input-box input {
  width: 100%;
  height: 100%;
  background: #333;
  border: none;
  outline: none;
  color: #fff;
  font-size: 1rem;
  border-radius: 4px;
  padding: 0 20px;
}
.input-box input:is(:focus, :valid) {
  padding: 16px 20px 0;
  background: #444;
}
.input-box label {
  position: absolute;
  top: 50%;
  left: 20px;
  color: #8c8c8c;
  font-size: 1rem;
  transform: translateY(-50%);
  pointer-events: none;
  transition: all 0.1s ease;
}
/*lets make floating label input animation*/
.input-box input:is(:focus, :valid) ~ label {
  font-size: 0.75rem;
  transform: translateY(-130%);
}
form button {
  width: 100%;
  padding: 16px 0;
  margin: 25px 0 10px;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  outline: none;
  background: #e50914;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.1s ease;
}
form button:hover {
  background: #c40812;
}

.form-wrapper :where(label, p, small, a) {
  color: #b3b3b3;
}
.form-wrapper p a {
  color: #fff;
}

.form-wrapper a {
  text-decoration: none;
}
.form-wrapper a:hover {
  text-decoration: underline;
}
/* lets make it responsive */
@media (max-width: 740px) {
  body::before {
    display: none;
  }
  nav,
  .form-wrapper {
    padding: 20px;
  }
  .form-wrapper {
    top: 43%;
    width: 100%;
  }
  nav a img {
    width: 140px;
  }
  .form-wrapper form {
    margin: 25px 0 40px;
  }
}
